/*
  Header.
 */
 
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  @media (--xl) {
    padding: 25px;
  }

  .region {
    display: flex;
    align-items: center;
  }

  .region-branding {
    flex: 0 1 15%;
    height: 100%;
  }

  .region-navigation {
    flex: 0 1 85%;
    justify-content: flex-end;
  }

  &.region-branding {
    flex: 0 1 20%;
  }

  &.region-navigation {
    flex: 0 1 80%;
  }
}
